<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theshootapp.world">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.camera" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainCameraActivity" />
        <activity android:name=".Activities.PictureDisplay" />
        <activity android:name=".Activities.VideoCameraActivity" />
        <activity android:name=".Activities.MomentActivity" />
        <activity android:name=".Activities.VideoPreviewActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.UserProfileActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
        <service android:name=".Services.InstanceIdGenerator">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.UserLocation" />
        <service android:name=".Services.UserLocation24Hrs" />
        <service android:name=".Services.AppointmentNotificationService"/>
        <activity android:name=".Activities.CalendarActivity" />
        <activity android:name=".Activities.mainCallActivity" />
        <activity android:name=".Activities.AddAppointment" />
        <activity android:name=".Activities.CallScreenActivity" android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Activities.IncomingCallScreenActivity"
        android:screenOrientation="portrait"></activity>
        <activity android:name=".Activities.PlaceCallActivity" android:screenOrientation="portrait"/>

        <service android:name=".Services.SinchService" />

        <activity android:name=".Activities.PhoneActivity" android:screenOrientation="portrait" />



        <service
            android:name=".Services.FcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



        <activity android:name=".Activities.LocalImages"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA9UxtRN9OnOFC1hZublM3T1Rdcsz53V3c"/>
    </application>

</manifest>